<p id="notice"><%= notice %></p>
<div class="container" style="padding-top: 200px;height:100%;padding-left: 150px;">
    <% @albums.each do |album| %>
        <div class="container" style="width:auto;float:left">
          <div class="card">
          <%= image_tag(album.thumbnail_f) %>
          <%= link_to album.title, images_url(:id => album.id), class: "btn btn-dark" %><span class="badge badge-light"><%= album.images.count %></span>
          <%= link_to 'delete', album, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
    <% end %>
</div>
<br>
  <%= link_to 'New Album', new_album_path %>
</div>
<br>


