<p id="notice"><%= notice %></p>
<div class="container" style="padding-top:250px;padding-left:50px;float:left;">
 <div class="card" style="width:300px">
  <p>
    <strong>Title:</strong>
    <%= @album.title %>
  </p>
  <%= image_tag(@album.thumbnail_b, style:'width:auto;height:auto') %>
    <div class="container" style="width:atuo">
      <%= link_to 'New Image Upload', new_image_path %>
      <%= link_to 'Edit', edit_album_path(@album) %> |
      <%= link_to 'Back', albums_path %>
    <div>
  </div>
</div>
