
<%= simple_form_for(@forest) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :description %>
  </div>

  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file, direct_upload: true,
    accept: 'application/pdf,
    application/zip/application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

