<div class="container" style="width:100%;height:100%">
  <div class="container" style="padding-top: 200px;height:100%;padding-left: 75px;">
    <% (@album.images).each do |img| %>
      <div class="container" style="width:200px;;float:left;padding-top: 75px">
        <div class="card"style="border-color: white;">
        <% if img.drawing.attached? %>
          <%= image_tag(img.drawing_f) %>
        <% end %>
        <%= link_to img.title, img, class: "btn btn-sml"%>
        </div>
       </div>
    <% end %>
  </div>

  <div class="container" style="padding-top:75px;padding-left: 160px;float:left">
    <%= link_to "Upload new drawing", new_image_path(:album_id => @album.id), class: "btn btn-dark" %>
  </div>

  <div class="container" style="float:left; padding-top: 50px">
    <div class="owl-carousel" style="">
         <% @album.images.each do |i| %>
          <div> 
            <%= image_tag(i.drawing_c) %>
            <%= i.title %>
          </div>
        <% end %>
    </div>
    <%= content_for(:after_js) do %>
      <script>
        $(document).ready(function(){
          $('.owl-carousel').owlCarousel({loop:true,
            margin:10, nav:true,
            responsive:{
              0:{
                items:5
              }

            }});
        });
      </script>
    <% end %>
  </div>
</div>

