<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Views:</strong>
  <%= @image.views %>
</p>

<p>
  <strong>Album:</strong>
  <%= @image.album_id %>
</p>

<p>
  <strong>Drawing:</strong>
  <%= image_tag(@image.drawing) %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
